* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }

  body {
	  background-color: rgb(67, 8, 177);
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items:center;
  }

  .name {
	  margin:10px auto auto auto;
	  color: rgb(37, 182, 182);
  }

  .game {
    margin-top: 10px; 
	width: 490px; 
	display: flex;
	flex-wrap: wrap;
	perspective: 900px;
  }

  .card {	  
  margin: 1px;
  width: 120px;
  height: 120px;
  border: 3px solid rgb(19, 8, 177);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform .5s;
  position: relative;
  }

  .card:active {
	  transform: scale(0.95);
	  transition: transform 0.2s;
	}

	.card.flip {
		transform: rotateY(180deg);
	  }

  .card img {
  width: 100px;
  height: 100px;
  }

  .front {
	position: absolute;
	  transform: rotateY(180deg);
	  backface-visibility: hidden;
  }

  .back {
	position: absolute;
	backface-visibility: hidden;
  }

  .progress {
	  margin-top: 10px;
	  color: rgb(37, 182, 182);
  }

  .color-satus {
	  color: rgb(235, 79, 79);
  }

  .status {
	  margin-top: 10px;
	  color: rgb(37, 182, 182);
  }

  .btn {
	 width: 160px;
	 background-color:rgb(37, 182, 182);
	 cursor: pointer;
	 font-size: 20px;
	 margin-top: 10px;
	 border-radius:5px;
  }

  .btn2 {
	width: 230px;
	background-color:rgb(37, 182, 182);
	cursor: pointer;
	font-size: 20px;
	margin-top: 10px;
	border-radius:5px;
  }

  .btn:hover, .btn2:hover {
	  background-color:rgb(228, 87, 87);
  }

  footer {
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top:15px;
} 



.footer-date a,.footer-date  {
	text-decoration: none;
	color:black;
	font-size: 20px;
	line-height: 50px;
}


.footer-link {
	margin-left: 25px;
}



.footer-date {
	display: flex;
	gap: 15px;
	align-items: center;
	font-weight: bold;
}



.rs {
	width: 60px;
	height: 60px;
}

a:hover {
	color:rgba(189, 174, 130, 1);
	transition: 0.8s linear;; 
}

.hover-logo:hover {
	transition: 0.8s linear;
	filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.none-click {
	pointer-events: none;
}