* {
	box-sizing: border-box;
	margin: 0 ;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	max-width:1440px;
	margin: 0 auto;
}

html {
	font-family: Inter-Regular;
	color:white;
}

@font-face {
    font-family:Inter-Bold; 
    src: url(./assets/fonts/Inter-Bold.ttf);
   }


@font-face {
    font-family:Inter-Regular; 
    src: url(./assets/fonts/Inter-Regular.ttf);
   }

@font-face {
    font-family: Merriweather-Bold; 
    src: url(./assets/fonts/Merriweather-Bold.ttf);
   }

h1,h2 {
    font-family: Merriweather-Bold ;
   }

.bg {
	background: url(./assets/img/bg.jpg);
	background-repeat: no-repeat;
    background-position: center 0;
	height: 910px;
}

header {
	height: 90px;
	display: flex;
	align-items: center;
	
}

.logo1 {
	margin-left: 20px;
}

.logo1 img {
	width: 50px;
	height: 40px;
}

.hero h1 {
	color: #ffffff;
	font-size: 60px;
	margin-bottom: 10px;
}

.hero p {
	color: #ffffff;
	font-size: 20px;
    line-height:40px;
}

.hero {
	max-width: 500px;
	height: 330px;
	margin: 160px 800px 330px 80px;
	display: flex;
	flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.btn {
	width:226.6px;
	height: 55px;
	
}

.btn button {
	max-width:220px;
	height: 55px;
	background-color:#BD9C82;
    border: none;
	padding: 0 70px;
    text-align: center;
    text-decoration: none;
    display:block;
	cursor: pointer;
    font-size: 20px;
	
}

nav  {
	margin-left: auto;
	
}

.nav-list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	
  }

.nav-list a {
	text-decoration: none;
	padding: 0 30px;
    line-height: 30px;
	font-size: 20px;
	color: #ffffff;
}  

.switch-lng {
	margin-right:20px;
	color: white;
	font-size: 20px;	
}

.switch-lng a {
	color: white;
	font-family: Inter-Bold;
	text-decoration: none;
}

.switch-lng .en {
	color: rgba(189, 174, 130, 1);
}

#skills {
	height: 482px;
	background-color: black;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section-title {
display: flex;
justify-content: center;
align-items: center;	
width: 700px;
height: 80px;
color: rgba(189, 174, 130, 1);
font-size: 40px;
}

.line-center{
    margin:0;
	padding:0 20px;
    background: black;
    display:inline-block;
}

h2.title-with-line {
    
    text-align:center;
    position:relative;
    z-index:2;
}

h2.title-with-line:after{
    content:"";
    position:absolute;
    top:50%;
    left:0;
    right:0;
    border-top:solid 2px rgba(189, 174, 130, 1);
    z-index:-1;
}

.skills-container {
	width:1400px;
	height: 242px;
	margin: 0 20px;
	display: flex;
	justify-content: space-between;
}

.skills-items {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: space-between;
	width:320px;
	height: 240px;
	padding: 0 20px;
	font-size: 18px;
	line-height: 36px;
	text-align: center;
  }

.name-skills {
	font-size: 20px;
	line-height:40px;
	font-family: Inter-Bold;
}

#portfolio {
	height: 1500px;
	background-color: black;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.buttons-portfolio {
	width: 895px;
	height: 55px;
}
