@media (max-width: 762px) {
* {
	box-sizing: border-box;
	margin: 0 ;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	width: 320px;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	overflow-x: hidden;
	position: relative;
}

.start-screen {
	height: 823px;
	background:linear-gradient(to left, #1A1A1C, #5B483A );
	overflow: hidden;
	position: relative;
}

header {
	width: 257px;
	height: 60px;
	margin:30px 0 0 10px;
	display: flex;
	justify-content: space-between;
	align-items:center;
}



.logo {
	width: 190px;
	height: 60px;
}

.title {
	font-family: Georgia, serif;
	font-weight: 400;
	font-size: 32px;
	line-height: 35px;
	color: #F1CDB3;
	letter-spacing: 2px;
}

.subtitle {
	font-size: 13px;
	letter-spacing: 1.5px ;
	line-height: 14px;
	color:#FFFFFF;
	margin-top: 10px;
}

.hamburger {
	cursor: pointer;
}

.line {
	width: 30px;
    height: 2px;
    background-color:#F1CDB3;
    display: block;
    margin: 8px auto;
}

nav {
	display:none;
}

nav ul li a:hover{
	color:white;

}

nav ul {
	display: flex;
	flex-direction: column;
	align-items:center;
}

nav ul li {
	list-style: none;
}

nav a {
	text-decoration: none;
    line-height: 24px;
	font-size: 15px;
	color:#CDCDCD;
} 

.linkactive {
	border-bottom: #F1CDB3 4px solid;
}

.linkhover:hover {
	box-shadow:0px 2px 35px 14px #5C5C5C;
	border-radius:10px;
	cursor: pointer;
}

.screen-puppy {
	width: 260px;
	height: 272px;
	background-image: url(../assets/images/3screen-puppy.png);
	margin:105px 0 0 50px;
}


.content {
	width: 300px;
	height: 296px;
	margin: 60px 0 0 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.heading {
	font-family: Georgia, serif;
	font-size: 25px;
	line-height: 32.5px;
	color:#FFFFFF;
	font-weight: 400;
	width: 230px;
	letter-spacing: 1.5px;
}

.subheading {
	color:#CDCDCD;
	margin-top: 42px;
}

/* mabail menu 320 */


.mobail-menu {
	width: 320px;
	height: 100%;
	position: absolute;
	top: 0px;
	right: -320px;
	z-index:12;
	background-color:#292929;
	transition: 0.8s ;

}

.mobail-menu-active {
	width: 320px;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index:12;
	background-color:#292929;
	transition: 0.8s ;
	
}

.overfl {
	overflow: hidden;
}

.delete {
	display: none;
}

.header-mob {
	width: 252px;
	height: 60px;
	margin: 30px 0 0 10px;
	display: flex;
	justify-content: space-between;
	align-items:center;
}

.hamburger2 {
	display: flex;
	column-gap:8px;
	cursor: pointer;
}


.line2 {
	width: 2px;
    height: 30px;
    background-color:#F1CDB3;
    display: block;
}


.nav-mobile {
	width: 243px;
	height: 327px;
	display: flex;
	flex-direction: column;
	align-items:center;
	row-gap: 40px;
	margin: 40px 0 0 39px;
}



.nav-mobile li {
	list-style: none;
}

.nav-mobile a {
	text-decoration: none;
    line-height: 51px;
	font-size: 32px;
	color:#FAFAFA;
} 

/* end menu mobail */



.primary {
	width: 207px;
	height: 52px;
	background-color:#F1CDB3;
	cursor: pointer;
	border-radius: 100px;
	margin:42px 0 0 0;
}

.primary a {
	text-decoration: none;
	letter-spacing: 1px;
	font-family: Georgia, serif;
	font-weight: 400;
	font-size: 17px;
	line-height: 22px;
	color:#292929;
}

#About {
	height: 974px;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.About-content {
	width: 300px;
	height: 890px;
	margin: 42px 0 0 0px;
	display: flex;
	flex-direction:column-reverse;
	align-items:center;
}

.about-pets {
	width: 260px;
	height: 354px;
	background-image:url(../assets/images/about-pets320.png);
	margin-top: 42px;
}

.about-text {
	width: 300px;
	height: 494px;
	display: flex;
	flex-direction:column;
	align-items:center;
}

.about-heading {
	width: 370px;
	height: 90px;
	font-family: Georgia, serif;
	font-weight: 400;
	font-size: 25px;
	line-height: 32.5px;
	letter-spacing: 1.5px;
	text-align: center;
	color:#545454;
}

.about-subh1 {
	width: 270px;
	height: 144px;
	margin-top: 25px;
	color:#4C4C4C;
	text-align: justify;
}

.about-subh2 {
	width: 270px;
	height: 239px;
	margin-top: 22px;
	color:#4C4C4C;
	text-align: justify;
}

#Our {
	height: 791px;
	overflow: hidden;
	background-color:#F6F6F6;
	position: relative;
}

/* modal window start */

.modal-win {
	position: fixed;
    z-index: 6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 271px;
	height: auto;
}

.close {
	width: 45px;
	height: 45px;
	border-radius:100px;
	border:#F1CDB3 2px solid;
	text-align: center;
	float: right;
	padding-top: 8px;
}

.close:hover {
	background-color:#FDDCC4;
	cursor: pointer;
}

.wind {
	width: 240px;
	height: 410px;
	border-radius:10px;
	background-color:white;
	margin-top: 40px;
	border:#292929 solid 1px;
	overflow: hidden;
}

.wind>img {
	display: none;
}

.modal-content {
	margin: 10px 0 0 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-content>h3 {
	font-size: 35px;
	line-height: 45px;
	font-family: Georgia, serif;
	font-weight: 400;
	letter-spacing: 1.5px;
}

.modal-content>h4 {
	font-size: 20px;
	line-height: 23px;
	font-family: Georgia, serif;
	font-weight: 400;
	letter-spacing: 1.5px;
	margin-top: 10px;
}


.modal-content>h5 {
	font-size: 13px;
	line-height: 14px;
	font-family: Georgia, serif;
	font-weight: 400;
	letter-spacing: 1.5px;
	margin-top: 20px;
}

.modal-content>ul {
	margin-top: 20px;
	font-size: 15px;
	line-height: 17px;
	font-family: Georgia, serif;
	font-weight: 400;
	letter-spacing: 1.5px;
	padding-left: 20px;
	align-self: flex-start;
}


.modal-content>ul>li {
	margin-bottom: 5px;
	color: #dda681;
}

.modal-content>ul>li span {
	color: black;
}

.win-n {
	display: none;
}

.win-back::after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(41, 41, 41, 0.6);
}

.win-back {
	overflow: hidden;
}


/* modal window end */

.pets-content {
	width: 300px;
	height: 707px;
	margin: 42px 0 0 10px;
	display: flex;
	flex-direction: column;
	align-items:center;
}

.our-heading {
	font-family: Georgia, serif;
	font-weight: 400;
	font-size: 25px;
	line-height: 32.5px;
	color: #545454;
	text-align: center;
	letter-spacing: 1.5px;

}

.slider {
	width: 270px;
	height: 507px;
	display: flex;
	flex-direction: column;
	align-items:center;
	margin:42px 0 0 0px;
}

.arrow1 {
	display: none;
}

.card {
	width: 270px;
	height:435px;
	display: flex;
	flex-direction: column;
	align-items:center;
}

.card:hover {
	box-shadow:0px 2px 35px 14px #5C5C5C;
	cursor: pointer;
}

.card:hover .card-btn {
	background-color: #FDDCC4;
  }


.card-img {
	width: 270px;
	height: 270px;
}

.pointer {
	margin-top: 18px;
    width: 185px;
    display: flex;
    justify-content: space-between;
}


.card2 {
	display: none;
}

.card3 {
	display: none;
}

.card-non {
	display:none;
}

.card-text {
	font-family: Georgia, serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	color: #545454;
	margin-top:30px;
	letter-spacing: 1.4px;
}

.card-btn {
	width: 187px;
	height: 52px;
	border-radius:100px;
	cursor: pointer;
	border: 2px solid #F1CDB3;
	font-family: Georgia, serif;
	font-weight: 400;
	font-size: 17px;
	line-height: 22px;
	color:#292929;
	margin-top:30px;
	letter-spacing: 1px;
}

.primary2 {
	width: 261px;
	height: 52px;
	border-radius:100px;
	cursor: pointer;
	background-color:#F1CDB3;
	margin-top:41px;
	
}

.primary2 a {
	text-decoration: none;
	letter-spacing: 1px;
	font-family: Georgia, serif;
	font-weight: 400;
	font-size: 17px;
	line-height: 22px;
	color:#292929;
}

.arrow {
	width: 52px;
	height: 52px;
	border-radius:100px;
	border:2px solid #F1CDB3;
	cursor: pointer;
}

.arrow:hover,.card-btn:hover, .credit-card:hover,
.primary:hover,.primary2:hover {
	background-color:#FDDCC4;
}

#Help {
	height: 745px;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.help-content {
	margin-top: 42px;
}

.help-text {
	font-family: Georgia, serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 16.5px;
	color: #545454;
	margin-top: 20px;
	letter-spacing: 1px;
}

.list {
	width: 290px;
	height: 555px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 30px;
    margin-top: 60px;
	margin-top: 42px;
}

.list-block {
	width: 130px;
	height: 87px;
	display: flex;
	flex-direction: column;
	align-items:center;
}

.list-block>img  {
	width: 50px;
	height: 50px;
}

.donation {
	height: 542px;
	overflow: hidden;
	
}

.donation-content {
	display: flex;
	flex-direction: column-reverse;
	align-items:center;
}

.dog {
	margin-top: 42px;
}

.dog>img {
	width: 260px;
	height: 135px;
}

.dog-content {
	width: 300px;
	height: 281px;
	margin: 42px 0 0 0px;
	display: flex;
	flex-direction: column;
	align-items:center;
}

.dog-heading {
	width: 210px;
	height: 64px;
	font-family: Georgia, serif;
	font-weight: 400;
	font-size: 25px;
	line-height: 32.5px;
	color: #545454;
	letter-spacing: 1.5px;
	text-align: center;
}

.dog-subheading {
	width: 273px;
	height: 24px;
	margin-top: 20px;
	font-family: Georgia, serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: #545454;
	text-align: center;
}

.credit-card {
	width: 281px;
	height: 43px;
	background-color: #F1CDB3;
	display: flex;
	justify-content: space-evenly;
	align-items:center;
	margin-top: 20px;
	border-radius:10px;
}

.num-card a {
	font-family: Georgia, serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 16.5px;
	color: #545454;
	letter-spacing: 1.1px;
	text-decoration: none;
}

.info-card {
	width: 280px;
	height: 90px;
	color:#B2B2B2;
	font-size: 12px;
	line-height: 18px;
	font-style: italic;
	margin-top: 20px;
	text-align: justify;
}

footer {
	overflow: hidden;
	height: 809px;
	background:linear-gradient(to left, #1A1A1C, #513D2F );
}

.footer-content {
	display: flex;
	flex-direction: column;
	align-items:center;
}

.footer-alltext {
	width: 300px;
	height: 470px;
	display: flex;
	flex-direction: column;
	align-items:center;
	margin-top: 29.8px;
	text-align: center;
}

.footer-puppy {
	margin-top: 40px;
}

.footer-puppy>img {
	width: 260px;
	height: 269px;
}

.contact {
	width: 278px;
	height: 208px;
	display: flex;
	flex-direction: column;
	align-items:center;
}

.cont-title {
	font-family: Georgia, serif;
	font-weight: 400;
	font-size: 25px;
	line-height: 32.5px;
	color: #FFFFFF;
	letter-spacing: 1.5px;
}



.location {
	width: 300px;
	height: 222px;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	align-items:center;
}

.contact a {
	text-decoration: none;
	font-family: Georgia, serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 21px;
	color:#F1CDB3;
	letter-spacing: 1px;
	display: block;
}

.location a {
	text-decoration: none;
	font-family: Georgia, serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 22px;
	color:#F1CDB3;
	letter-spacing: 1.1px;
	display: block;
}

.mail {
	margin-top: 37px;
	display: flex;
	column-gap: 22px;
    align-items: center;
}

.phone {
	margin-top: 37px;
	display: flex;
	column-gap: 22px;
    align-items: center;
}

.title-waiting {
	width: 270px;
}

.boston {
	width: 300px;
	margin-top: 40px;
	display: flex;
	column-gap: 22px;
    align-items: center;
	text-align: left;
}

.london {
	width: 300px;
	margin-top:39px;
	display: flex;
	column-gap: 22px;
    align-items: center;
}
}